body
{
height:auto;
width: 840px;
margin: 50px auto 50px auto;
color:#666666;
font-family: Sans-Serif;
background-color:#e7e7e7;
}

.top
{
height:50px;
width: 840px;
margin: 10px 10px 40px 10px;
}

.menu
{
height:auto;
width: 840px;
margin: 20px 40px 20px 40px;

}

.content
{
font-size:14px;
height:auto;
width: 840px;
margin: 10px 10px 40px 10px;
}



.footer {
  font-size:10px;
  height:100;
 width: 840px;
 margin: 10px 10px 20px 10px; 
    position: fixed;
    bottom: 0;
}