.midpage-images
{

height:auto;
width: auto;
border:0px solid black;
padding:0px;
font-size: 11px;
}

.midpagetable
{
height:auto;
width:840px;
border-collapse:collapse;
border-spacing: 0px;
border-width:0px;
padding: 0px;

}