/* unvisited link */
a:link {
    color:#ab85ff;
	text-decoration:none;
	font-weight: bold;
}

/* visited link */
a:visited {
    color: #ab85ff;
}

/* mouse over link */
a:hover {
    color: #528651;
}

/* selected link */
a:active {
    color: #ab85ff;
}

	
